h1, .h1 {
  @apply font-serif font-semibold uppercase;
  @apply text-5xl md:text-6xl;
  @apply mb-6;
}

h2, .h2 {
  @apply font-sans font-semibold uppercase;
  @apply text-xl md:text-2xl;
  @apply mb-4;
}

h3, .h3 {
  @apply font-sans font-semibold uppercase;
  @apply text-lg md:text-xl;
  @apply mb-4;
}

h4, .h4 {
  @apply font-sans font-light tracking-wider uppercase;
  @apply text-sm;
  @apply mb-2;
}

p, .p {
  @apply font-serif;
  @apply text-lg md:text-xl;
  @apply mb-4;
  &.p-large{
    @apply text-2xl leading-[150%];
  }
}

ul {
  @apply space-y-4;
  li {
    @apply font-sans text-mid ;
    @apply  text-lg;
  }
}